# Arquivos Python
*.pyc
__pycache__/
*.egg-info/

# Arquivos de ambiente virtual
venv/
.venv/
source

# Arquivos de configuração
credentials.json

# Arquivos temporários
*.log
*.tmp

# IDE/Editor
.idea/
.vscode/
