gspread
oauth2client
flet
google-auth-httplib2
google-api-python-client
transformers
typing
datetime
tensorflow
pandas
torch 
torchvision
torchaudio
tf-keras
matplotlib
ultralytics
tzlocal
scikit-learn
LinearRegression